ion-content {
    --ion-background-color: var(--ion-color-primary-shade);

    ion-button {
        width: 100%;
        height: 40px;
        color: black;
        margin-left: 0;
    }
}

ion-toolbar {
    text-align: center;

    .buttonComeBack {
        position: absolute;
        left: 0;
        margin: 0;
        padding: 0;
        top: 0;

        ion-icon {
            font-size: 2.2rem;
            color: black;
        }
    }
}


ion-item {
    --padding-start: 0;
    color: white;
}

.account--container {
    color: white;
    padding: 5%;
    background: #313131;
    font-size: 11px;
}

.settings-list-item-left {
    position: absolute;
    left: 3%;
    font-size: 12px;
}

.settings-list-item-right {
    position: absolute;
    right: 3%;
    font-size: 12px;
}