ion-card-content {
    padding: 0;

    .customItem {
        --ion-background-color: black;
        height: 35px;
        color: #ffc409;
        padding: 0;

        ion-label {
            margin-top: 0;
            margin-left: 1%;
        }

        strong {
            margin-top: -10px;
        }
    }
}

.add-activity-icon {
    position: absolute;
    color: var(--ion-background-color);
    bottom: 5%;
    z-index: 6;
    right: 1rem;
    --border-radius: 50px !important;
    height: 60px;
    width: 60px;
    color: white;
    font-weight: bold;
    --box-shadow: 1px 1px 5px 2px gray;
}