<ion-content fullscreen="true" background="primary">
  <ion-slides pager="true" [options]="slideOpts" [pager]="true">
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/wolf-icon.png" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/wolf-icon.png" />
        <div class="auth-selector">
          <div style="
          position: relative;
          height: 100%;
          width: 100%;">
            <h1>Welcome</h1>
            <p>
              Bienvenido a la app de prueba de Match Inc. Podras retar a tus amigos y hacer mas divertidos tus
              entrenamientos. :D
            </p>
            <div class="auth-selector-buttons">
              <ion-button class="btn-signup">
                Sign Up
              </ion-button>
              <ion-button class="btn-login">
                Log In
              </ion-button>
            </div>
          </div>

        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>