<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <img src="../../assets/wolf-icon.png" width="40px" style="display:inline-block" />
    <ion-button fill="clear" (click)="comeBack()" class="buttonComeBack">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="comeBack()" class="buttonCreate">
      Crear
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Match Name:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Number of Participants:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <!-- Default Segment -->
  <ion-segment>
    <ion-segment-button value="friends">
      <ion-label>Ciclying</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Running</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div id="elevation_chart_properties"></div>

  <div id="mapProperties" hidden></div>
</ion-content>